In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#Create a dataframe matching the above diagram and assign it to the variable fruits.

fruits = pd.DataFrame(data={'Apples':[30],'Bananas':[20]})

   Apples  Bananas
0      30       20

In [12]:
#Create a dataframe matching the above diagram and assign it to the variable fruit_sales.

fruit_sales = pd.DataFrame(data={'Apples':[35,41],'Bananas':[21,34]},index=['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [14]:
#Create DataFrame Ingrediants

ingrediants = pd.DataFrame(data=['4 cups','1 cup','2 large','1 can'],index=['Flour','Milk','Age','Spam'])
ingrediants

             0
Flour   4 cups
Milk     1 cup
Age    2 large
Spam     1 can

# Indexing, Selecting and Assingning

In [4]:
reviews = pd.read_csv('C:/Users/Nikhil/AppData/Local/Temp/Temp1_winemag-data-130k-v2.csv.zip/winemag-data-130k-v2.csv')

In [5]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [22]:
# Select the description column from reviews and assign the result to the variable desc.
desc = reviews['description']

In [23]:
desc.dtype

dtype('O')

In [25]:
# Select the first value from the description column of reviews, assigning it to variable first_description

first_description = reviews['description'][0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

In [28]:
# Select the first row of data (the first record) from reviews, assigning it to the variable first_row.

first_row = reviews.iloc[[0]]
first_row

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [29]:
# select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

first_descriptions = reviews['description'].head(10)
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

In [33]:
# Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_review

In [34]:
n = [1,2,3,5,8]

In [37]:
reviews.loc[[1]]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [48]:
n1 = []
for i in n:
    n2 = reviews.loc[[i]]
    n1.append(n2)

In [53]:
n1

[   Unnamed: 0   country                                        description  \
 1           1  Portugal  This is ripe and fruity, a wine that is smooth...

   designation  points  price province region_1 region_2 taster_name  \
 1    Avidagos      87   15.0    Douro      NaN      NaN  Roger Voss

   taster_twitter_handle                                          title  \
 1            @vossroger  Quinta dos Avidagos 2011 Avidagos Red (Douro)

           variety               winery
 1  Portuguese Red  Quinta dos Avidagos  ,
    Unnamed: 0 country                                        description  \
 2           2      US  Tart and snappy, the flavors of lime flesh and...

   designation  points  price province           region_1           region_2  \
 2         NaN      87   14.0   Oregon  Willamette Valley  Willamette Valley

     taster_name taster_twitter_handle  \
 2  Paul Gregutt           @paulgwine

                                            title     variety     winery
 2  Rainstorm 2013 Pinot Gris (Willamette Valley)  Pinot Gris  Rainstorm  ,
    Unnamed: 0 country                                        description  \
 3           3      US  Pineapple rind, lemon pith and orange blossom ...

             designation  points  price  province             region_1  \
 3  Reserve Late Harvest      87   13.0  Michigan  Lake Michigan Shore

   region_2         taster_name taster_twitter_handle  \
 3      NaN  Alexander Peartree                   NaN

                                                title   variety      winery
 3  St. Julian 2013 Reserve Late Harvest Riesling ...  Riesling  St. Julian  ,
    Unnamed: 0 country                                        description  \
 5           5   Spain  Blackberry and raspberry aromas show a typical...

     designation  points  price        province region_1 region_2  \
 5  Ars In Vitro      87   15.0  Northern Spain  Navarra      NaN

          taster_name taster_twitter_handle  \
 5  Michael Schachner           @wineschach

                                                title             variety  \
 5  Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...  Tempranillo-Merlot

    winery
 5  Tandem  ,
    Unnamed: 0  country                                        description  \
 8           8  Germany  Savory dried thyme notes accent sunnier flavor...

   designation  points  price     province region_1 region_2  \
 8       Shine      87   12.0  Rheinhessen      NaN      NaN

           taster_name taster_twitter_handle  \
 8  Anna Lee C. Iijima                   NaN

                                                title         variety  \
 8  Heinz Eifel 2013 Shine Gewürztraminer (Rheinhe...  Gewürztraminer

         winery
 8  Heinz Eifel  ]

In [57]:
# Create a variable df containing the country and variety columns of the first 100 records.
df = reviews[['country','variety']][0:100]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

In [60]:
# Create a DataFrame italian_wines containing reviews of wines made in Italy

italian_wines = reviews[reviews['country']=='Italy']['winery'].reset_index()

In [61]:
italian_wines

        index                           winery
0           0                          Nicosia
1           6                  Terre di Giurfo
2          13              Masseria Setteporte
3          22               Baglio di Pianetto
4          24                        Canicattì
...       ...                              ...
19535  129929             Col Vetoraz Spumanti
19536  129943  Baglio del Cristo di Campobello
19537  129947         Feudo Principi di Butera
19538  129961                              COS
19539  129962                         Cusumano

[19540 rows x 2 columns]

In [62]:
# Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

top_oceania_wines = reviews[reviews['country']=='Australia']

In [64]:
top_oceania_wines

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
77,77,Australia,This medium-bodied Chardonnay features aromas ...,Made With Organic Grapes,86,18.0,South Australia,South Australia,NaN,Joe Czerwinski,@JoeCz,Yalumba 2016 Made With Organic Grapes Chardonn...,Chardonnay,Yalumba
83,83,Australia,"Pale copper in hue, this wine exudes passion f...",Jester Sangiovese,86,20.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Mitolo 2016 Jester Sangiovese Rosé (McLaren Vale),Rosé,Mitolo
123,123,Australia,The blend is roughly two-thirds Shiraz and one...,Parson's Flat,92,40.0,South Australia,Padthaway,NaN,Joe Czerwinski,@JoeCz,Henry's Drive Vignerons 2006 Parson's Flat Shi...,Shiraz-Cabernet Sauvignon,Henry's Drive Vignerons
191,191,Australia,"From the little-known region of Padthaway, thi...",The Trial of John Montford,87,30.0,South Australia,Padthaway,NaN,Joe Czerwinski,@JoeCz,Henry's Drive Vignerons 2006 The Trial of John...,Cabernet Sauvignon,Henry's Drive Vignerons
232,232,Australia,Lifted cedar and pine notes interspersed with ...,Red Belly Black,85,12.0,South Australia,South Australia,NaN,NaN,NaN,Angove's 2006 Red Belly Black Shiraz (South Au...,Shiraz,Angove's
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129414,129414,Australia,A bit more austere than some of Kilikanoon's o...,Mort's Block,89,20.0,South Australia,Clare Valley,NaN,NaN,NaN,Kilikanoon 2016 Mort's Block Riesling (Clare V...,Riesling,Kilikanoon
129433,129433,Australia,This wine shows a pleasing nose of black curra...,Estate Grown,89,20.0,South Australia,Barossa Valley,NaN,NaN,NaN,Atze's Corner 2015 Estate Grown G-S-M (Barossa...,G-S-M,Atze's Corner
129446,129446,Australia,"Black licorice, raisiny fruit and a little swe...",3 Sisters & A Brother,87,17.0,South Australia,Barossa Valley,NaN,NaN,NaN,Moorooroo 2015 3 Sisters & A Brother Shiraz (B...,Shiraz,Moorooroo
129447,129447,Australia,"This win is dense and dusty, with ripe ripe re...",The Gaffer,87,26.0,South Australia,McLaren Vale,NaN,NaN,NaN,Mr. Riggs 2015 The Gaffer Shiraz (McLaren Vale),Shiraz,Mr. Riggs
129726,129726,Australia,Hints of buttered toast and roasted nuts mark ...,Croft,90,55.0,South Australia,Adelaide Hills,NaN,Joe Czerwinski,@JoeCz,Henschke 2015 Croft Chardonnay (Adelaide Hills),Chardonnay,Henschke

In [67]:
# What is the median of the points column in the reviews DataFrame?

median_points = reviews['points'].median()
median_points

88.0

In [71]:
# What countries are represented in the dataset?

Countries = reviews['country'].unique
Countries

<bound method Series.unique of 0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object>

In [74]:
# How often does each country appear in the dataset

reviews_per_country = reviews['country'].value_counts()
reviews_per_country

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: country, dtype: int64

In [76]:
# Create variable centered_price containing a version of the price column with the mean price subtracted.

centered_price = reviews['price'] - reviews['price'].mean()
centered_price

0               NaN
1        -20.363389
2        -21.363389
3        -22.363389
4         29.636611
            ...
129966    -7.363389
129967    39.636611
129968    -5.363389
129969    -3.363389
129970   -14.363389
Name: price, Length: 129971, dtype: float64

In [100]:
# Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset.

reviews['barain_wine'] = reviews['points']/reviews['price']

In [111]:
reviews['barain_wine'].max()

21.5

In [113]:
reviews[reviews['barain_wine']==reviews['barain_wine'].max()]['title']

64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
Name: title, dtype: object

In [112]:
y = reviews['description'].str.split(' ')

In [29]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [31]:
reviews['points'].value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [74]:
def star(b):
    if b >= 95:
        print('3 star')
    elif b >= 85:
        print('2 star')
    elif b < 85:
        print('1 star')

In [144]:
reviews['points'].apply(star(b))

2 star

TypeError: 'NoneType' object is not callable

In [113]:
y

0         [Aromas, include, tropical, fruit,, broom,, br...
1         [This, is, ripe, and, fruity,, a, wine, that, ...
2         [Tart, and, snappy,, the, flavors, of, lime, f...
3         [Pineapple, rind,, lemon, pith, and, orange, b...
4         [Much, like, the, regular, bottling, from, 201...
                                ...
129966    [Notes, of, honeysuckle, and, cantaloupe, swee...
129967    [Citation, is, given, as, much, as, a, decade,...
129968    [Well-drained, gravel, soil, gives, this, wine...
129969    [A, dry, style, of, Pinot, Gris,, this, is, cr...
129970    [Big,, rich, and, off-dry,, this, is, powered,...
Name: description, Length: 129971, dtype: object

In [137]:
y.apply(lambda x:x.count('fruity')).value_counts()[1:4].sum()

5935

In [140]:
y.apply(lambda x:x.count('tropical')).value_counts()[1:3].sum()

3224

# Grouping and sorting

In [146]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [162]:
reviews[['taster_twitter_handle']].value_counts().reset_index().set_index('taster_twitter_handle')

                           0
taster_twitter_handle
@vossroger             25514
@wineschach            15134
@kerinokeefe           10776
@vboone                 9537
@paulgwine              9532
@mattkettmann           6332
@JoeCz                  5147
@wawinereport           4966
@gordone_cellars        4177
@AnneInVino             3685
@laurbuzz               1835
@suskostrzewa           1085
@worldwineguys          1005
@bkfiona                  27
@winewchristina            6

In [152]:
reviews[['price','points']].set_index('price').sort_index(ascending=True)

       points
price
4.0        85
4.0        84
4.0        83
4.0        84
4.0        84
...       ...
NaN        86
NaN        90
NaN        90
NaN        91
NaN        90

[129971 rows x 1 columns]

In [6]:
m = reviews[['variety','price']]

In [7]:
m3 = m['variety'].unique()

In [61]:
m3

array(['White Blend', 'Portuguese Red', 'Pinot Gris', 'Riesling',
       'Pinot Noir', 'Tempranillo-Merlot', 'Frappato', 'Gewürztraminer',
       'Cabernet Sauvignon', 'Nerello Mascalese', 'Chardonnay', 'Malbec',
       'Tempranillo Blend', 'Meritage', 'Red Blend', 'Merlot',
       "Nero d'Avola", 'Chenin Blanc', 'Gamay', 'Sauvignon Blanc',
       'Viognier-Chardonnay', 'Primitivo', 'Catarratto', 'Inzolia',
       'Petit Verdot', 'Monica', 'Bordeaux-style White Blend', 'Grillo',
       'Sangiovese', 'Cabernet Franc', 'Champagne Blend',
       'Bordeaux-style Red Blend', 'Aglianico', 'Petite Sirah',
       'Touriga Nacional', 'Carmenère', 'Albariño', 'Petit Manseng',
       'Rosé', 'Zinfandel', 'Vernaccia', 'Rosato', 'Grüner Veltliner',
       'Viognier', 'Vermentino', 'Grenache Blanc', 'Syrah', 'Nebbiolo',
       'Shiraz-Cabernet Sauvignon', 'Pinot Blanc', 'Alsace white blend',
       'Barbera', 'Rhône-style Red Blend', 'Portuguese White', 'Graciano',
       'Tannat-Cabernet', 'Sauvignon', 'Sangiovese Grosso', 'Torrontés',
       'Prugnolo Gentile', 'G-S-M', 'Verdejo', 'Fumé Blanc', 'Furmint',
       'Pinot Bianco', 'Bonarda', 'Shiraz', 'Montepulciano', 'Moscato',
       'Grenache', 'Ugni Blanc-Colombard', 'Syrah-Viognier',
       'Blaufränkisch', 'Friulano', 'Assyrtico', 'Carignan-Grenache',
       'Sagrantino', 'Savagnin', 'Cabernet Sauvignon-Syrah', 'Prosecco',
       'Vignoles', 'Sparkling Blend', 'Muscat', 'Muscadelle',
       'Shiraz-Viognier', 'Garganega', 'Pinot Grigio', 'Tempranillo',
       'Zierfandler', 'Cortese', 'Mencía', 'Zweigelt', 'Melon',
       'Rhône-style White Blend', 'Vidal', 'Cannonau', 'Verdelho',
       'Marsanne', 'Scheurebe', 'Kerner', 'Syrah-Grenache', 'Dolcetto',
       'Vilana', 'Glera', 'Viura', 'Garnacha Tintorera', 'Pinot Nero',
       'Roter Veltliner', 'Pinotage', 'Sémillon', 'Pinot Noir-Gamay',
       'Antão Vaz', 'Cabernet Sauvignon-Carmenère', 'Verdejo-Viura',
       'Verduzzo', 'Verdicchio', 'Silvaner', 'Colombard', 'Carricante',
       'Sylvaner', 'Fiano', 'Früburgunder', 'Sousão', 'Roussanne',
       'Avesso', 'Cinsault', 'Chinuri', 'Tinta Miúda',
       'Muscat Blanc à Petits Grains', 'Portuguese Sparkling',
       'Monastrell', 'Xarel-lo', 'Greco', 'Trebbiano',
       'Corvina, Rondinella, Molinara', 'Port', 'Chenin Blanc-Chardonnay',
       'Insolia', 'Merlot-Malbec', 'Ribolla Gialla',
       'Cabernet Sauvignon-Merlot', 'Duras', 'Weissburgunder', 'Roditis',
       'Traminer', 'Papaskarasi', 'Tannat-Syrah', 'Marsanne-Roussanne',
       'Charbono', 'Merlot-Argaman', 'Prié Blanc', 'Sherry',
       'Provence red blend', 'Tannat', 'Zibibbo', 'Falanghina',
       'Garnacha', 'Negroamaro', 'Mourvèdre', 'Syrah-Cabernet',
       'Müller-Thurgau', 'Pinot Meunier', 'Cabernet Sauvignon-Sangiovese',
       'Austrian Red Blend', 'Teroldego', 'Pansa Blanca',
       'Muskat Ottonel', 'Sauvignon Blanc-Semillon', 'Claret',
       'Semillon-Sauvignon Blanc', 'Bical', 'Moscatel', 'Rosado',
       'Viura-Chardonnay', 'Baga', 'Malvasia Bianca',
       'Gelber Muskateller', 'Malbec-Merlot', 'Monastrell-Syrah',
       'Malbec-Tannat', 'Malbec-Cabernet Franc', 'Turbiana', 'Refosco',
       'Alvarinho', 'Manzoni', 'Aragonês', 'Agiorgitiko', 'Malagousia',
       'Assyrtiko', 'Ruché', 'Welschriesling', 'Tinta de Toro',
       'Cabernet Moravia', 'Rieslaner', 'Traminette', 'Chambourcin',
       'Nero di Troia', 'Lambrusco di Sorbara', 'Cesanese',
       'Feteasca Neagra', 'Lagrein', 'Tinta Fina', 'St. Laurent',
       'Marsanne-Viognier', 'Cabernet Sauvignon-Shiraz',
       'Syrah-Cabernet Sauvignon', 'Gewürztraminer-Riesling',
       'Pugnitello', 'Cerceal', 'Touriga Nacional Blend',
       'Austrian white blend', 'Tocai', 'Tinta Roriz',
       'Chardonnay-Viognier', 'Fernão Pires',
       'Cabernet Franc-Cabernet Sauvignon', 'Grenache-Syrah',
       'Seyval Blanc', 'Muscat Canelli', 'Cabernet Merlot',
       'Tempranillo-Cabernet Sauvignon', 'Arinto', 'Aragonez',
       'Merlot-Cabernet Franc', 'Syrah-Petite Sirah', 'Cabernet Blend',
       'Maturana', 'Pecorino', 'Rotgipfler', 'Kinali Yapincak',
       'Cabernet Franc-Carmenère', 'Magliocco', 'Gamay Noir',
       'Sauvignon Gris', 'Spätburgunder', 'Picpoul', 'Vidal Blanc',
       'Albanello', 'White Port', 'Arneis', 'Malvasia', 'Plavac Mali',
       'Lemberger', 'Saperavi', 'Altesse', 'Blanc du Bois',
       'Provence white blend', 'Nosiola', 'Dornfelder',
       'Roussanne-Viognier', 'Ojaleshi', 'Godello', 'Mondeuse',
       'Perricone', 'Pedro Ximénez', 'Auxerrois', 'Syrah-Merlot',
       'Albana', 'Muskat', 'Lambrusco', 'Cabernet Sauvignon-Malbec',
       'Tinto Fino', 'Malbec-Cabernet Sauvignon', 'Moschofilero',
       'Grechetto', 'Encruzado', 'Carignano', 'Cabernet Franc-Merlot',
       'Torbato', 'Syrah-Petit Verdot', 'Garnacha Blanca', 'Pallagrello',
       'Morava', 'Syrah-Mourvèdre', 'Aleatico', 'Carcajolu', 'Kisi',
       'Shiraz-Grenache', 'Palomino', 'Grenache-Carignan', 'Nascetta',
       'Siria', 'Malbec-Syrah', 'Asprinio', 'Feteascǎ Regalǎ',
       'Lambrusco Grasparossa', 'Marselan', 'Tocai Friulano', 'Schiava',
       'Alfrocheiro', 'Chardonnay-Semillon', 'Corvina', 'Norton',
       'Alicante Bouschet', 'Tokaji', 'Moscadello',
       'Cabernet Sauvignon-Tempranillo', 'Carignan', 'Loureiro-Arinto',
       'Cabernet-Syrah', 'Sauvignon Blanc-Chardonnay', 'Symphony',
       'Edelzwicker', 'Madeira Blend', 'Black Muscat', 'Grenache Noir',
       'Durella', 'Xinomavro', 'Tinto del Pais',
       'Merlot-Cabernet Sauvignon', 'Cercial', 'Johannisberg Riesling',
       'Petite Verdot', 'Passerina', 'Valdiguié',
       'Colombard-Sauvignon Blanc', 'Kangoun', 'Loureiro', 'Posip',
       'Uva di Troia', 'Gros and Petit Manseng', 'Jacquère',
       'Kalecik Karasi', 'Karasakiz', 'Mourvèdre-Syrah', 'Negrette',
       'Zierfandler-Rotgipfler', 'Clairette', 'Raboso', 'País', 'Mauzac',
       'Pinot Auxerrois', 'Chenin Blanc-Sauvignon Blanc', 'Diamond',
       'Marzemino', 'Tinta Barroca', 'Chardonnay-Sauvignon Blanc',
       'Castelão', 'Trebbiano Spoletino', 'Teran', 'Trepat', 'Freisa',
       'Neuburger', 'Sämling', 'Chasselas', 'Hárslevelü', 'Trincadeira',
       'Merlot-Tannat', 'Rkatsiteli', 'Melnik', 'Siegerrebe',
       'Trousseau Gris', 'Grenache Blend', 'Gros Manseng',
       'Portuguese Rosé', 'Brachetto', 'Mantonico', 'Ekigaïna',
       'Muskateller', 'Aligoté', 'Sangiovese Cabernet',
       'Touriga Nacional-Cabernet Sauvignon', 'Muscat Blanc', 'Argaman',
       'Viognier-Roussanne', 'Pallagrello Bianco', 'Bobal',
       'Malvasia Istriana', 'Cabernet Sauvignon-Cabernet Franc',
       'Baco Noir', 'Veltliner', 'Tempranillo-Tannat', 'Morillon',
       'Touriga Franca', 'Picolit', 'Barbera-Nebbiolo', 'Prieto Picudo',
       'Gaglioppo', 'Tokay', 'Sacy', 'Piedirosso', 'Piquepoul Blanc',
       'Mansois', 'Chardonnay-Sauvignon', 'Tempranillo-Garnacha',
       'Carmenère-Cabernet Sauvignon', 'Chenin Blanc-Viognier',
       'Susumaniello', 'Vitovska', 'Orange Muscat', 'Grauburgunder',
       'Carignane', 'Moscatel Roxo', 'Tannat-Merlot', 'Nerello Cappuccio',
       'Counoise', 'Macabeo', 'Mazuelo', 'Sauvignon-Sémillon',
       'Tinta del Pais', 'Vranec', 'Mavrud', "Cesanese d'Affile",
       'Moscato Giallo', 'Debit', 'Verdil', 'Cabernet',
       'Verduzzo Friulano ', 'Treixadura', "Loin de l'Oeil",
       'Coda di Volpe', 'Grenache-Mourvèdre', 'Forcallà', 'Viura-Verdejo',
       'Bombino Bianco', 'Pinot-Chardonnay', 'Syrah-Tempranillo',
       'Cabernet Sauvignon-Barbera', 'Merlot-Cabernet',
       "Muscat d'Alexandrie", 'Jaen', 'Tinta del Toro', 'Timorasso',
       'Pigato', 'Sangiovese-Cabernet Sauvignon', 'Shiraz-Cabernet',
       'Viognier-Gewürztraminer', 'Prunelard',
       'Sauvignon Blanc-Chenin Blanc', 'Gros Plant',
       'Malbec-Petit Verdot', 'Colombard-Ugni Blanc', 'Grignolino',
       'Garnacha-Syrah', 'Rufete', 'Tempranillo-Shiraz', 'Mtsvane',
       'Chardonnay-Pinot Gris', 'Marawi', 'Chardonnay-Pinot Blanc',
       'Mataro', 'Tinta Cao', 'Blauer Portugieser', 'Ugni Blanc',
       'Groppello', 'Semillon-Chardonnay', 'Irsai Oliver', 'Alvarelhão',
       'Poulsard', 'Grenache-Shiraz', 'Baga-Touriga Nacional', 'Carineña',
       'Pignoletto', 'Muscatel', 'Mavrodaphne', 'Ciliegiolo',
       'Viognier-Grenache Blanc', 'Greco Bianco',
       'Cabernet Sauvignon-Merlot-Shiraz', 'Sciaccerellu', 'Zelen',
       'Alicante', 'Emir', 'Rosenmuskateller', 'Tsolikouri', 'Narince',
       'Malbec-Cabernet', 'Touriga', 'Grecanico', 'Carmenère-Syrah',
       'Madeleine Angevine', 'Mavroudi', 'Pinot Blanc-Pinot Noir',
       'Muscat Hamburg', 'Tempranillo Blanco', 'Casavecchia',
       'Pinot Gris-Gewürztraminer', 'White Riesling', 'Tinto Velasco',
       'Hondarrabi Zuri', 'Nuragus', 'Xynisteri', 'Kadarka',
       'Sauvignon Musqué', 'Roussanne-Marsanne', 'Incrocio Manzoni',
       'Terrantez', 'Bual', 'Okuzgozu', 'Rivaner', 'Doña Blanca',
       'Graševina', 'Lambrusco Salamino', 'Sangiovese-Syrah',
       'Tannat-Cabernet Franc', 'Thrapsathiri', 'Fer Servadou', 'Mission',
       'Kekfrankos', 'Cococciola', 'Blauburgunder', 'Marquette',
       'Romorantin', 'Verdejo-Sauvignon Blanc', 'Braucol',
       'Malvasia-Viura', 'Savatiano', 'Cabernet Franc-Malbec',
       'Pallagrello Nero', 'Rebula', 'Vespolina', 'Shiraz-Malbec', 'Rebo',
       'Macabeo-Chardonnay', 'Tempranillo-Malbec', 'Tamjanika',
       'Trousseau', 'Bacchus', 'Syrah-Malbec', 'Syrah-Cabernet Franc',
       'Macabeo-Moscatel', 'Cariñena-Garnacha', 'Plyto',
       'Códega do Larinho', 'Sideritis', 'Çalkarası', 'Azal',
       'Moscatel Graúdo', 'Viosinho', 'Moschofilero-Chardonnay',
       'Paralleda', 'Rara Neagra', 'Malvasia di Candia', 'Maria Gomes',
       'Molinara', 'Malvar', 'Airen', 'Erbaluce', 'Muscat of Alexandria',
       'Verdosilla', 'Abouriou', 'Pinot Noir-Syrah', 'Nielluciu',
       'Malbec-Bonarda', 'Vespaiolo', 'Malbec-Carménère', 'Biancolella',
       'Sauvignon Blanc-Verdejo', 'Aidani', 'Garnacha-Monastrell',
       'Vinhão', 'Souzao', 'Roter Traminer', 'Moscatel de Alejandría',
       'Rolle', 'Tinta Francisca', 'Malvasia Nera', 'Orangetraube',
       'Riesling-Chardonnay', 'Žilavka', 'Portuguiser', 'Listán Negro',
       'Pinotage-Merlot', 'Muscadine', 'Maria Gomes-Bical', 'Grolleau',
       'Zlahtina', 'Syrah-Grenache-Viognier', 'Jacquez', 'Gouveio',
       'Canaiolo', 'Carignan-Syrah', 'Bombino Nero',
       'Chardonnay-Riesling', 'Malagouzia-Chardonnay', 'Mavrotragano',
       'Bovale', 'Frankovka', 'Shiraz-Roussanne', 'Cabernet-Shiraz',
       'Syrah-Carignan', 'Elbling', 'Gragnano', 'Garnacha Blend',
       'Pinot Blanc-Chardonnay', 'Schwartzriesling', 'Petit Meslier',
       'Bastardo', 'Vidadillo', 'Misket', 'Chardonnay Weissburgunder',
       'Other', 'Robola', 'Merlot-Shiraz', 'Malagouzia', 'Folle Blanche',
       'Malbec Blend', 'Merlot-Syrah', 'Tamianka', 'Cabernet Pfeffer',
       'Morio Muskat', 'Rabigato', 'Babić', 'Roviello', 'Yapincak',
       'Sauvignonasse', 'Viognier-Marsanne', 'Mandilaria', 'Meseguera',
       'Alvarinho-Chardonnay', 'Saperavi-Merlot', 'Pinot Blanc-Viognier',
       'Teroldego Rotaliano', 'Biancu Gentile', 'Garnacha-Tempranillo',
       'Xinisteri', 'Sauvignon Blanc-Sauvignon Gris',
       'Trebbiano di Lugana', 'Albarossa', 'Ryzlink Rýnský', 'Verdeca',
       'Cabernet Sauvignon Grenache', 'Tămâioasă Românească',
       'Black Monukka', 'Merlot-Grenache', 'Vranac', 'Tempranillo-Syrah',
       'Chardonel', 'Silvaner-Traminer', 'Uvalino',
       'Merseguera-Sauvignon Blanc', 'Cabernet-Malbec', 'Boğazkere',
       'Gelber Traminer', 'Vermentino Nero', 'Cayuga', 'Tinta Amarela',
       'Tinta Negra Mole', 'Moscato Rosa', 'Chelois',
       'Sauvignon Blanc-Assyrtiko', nan, 'Muscadel', 'Shiraz-Tempranillo',
       'Roussanne-Grenache Blanc', 'Biancale', 'Ansonica',
       'Syrah-Bonarda', 'Durif', 'Franconia', 'Malbec-Tempranillo',
       'Nasco', 'Monastrell-Petit Verdot', 'Sirica', 'Vital', 'Espadeiro',
       'Apple', 'Pinot Grigio-Sauvignon Blanc', 'Blatina', 'Karalahna',
       'Feteasca', 'Sercial', 'Valvin Muscat', 'Malvasia Fina',
       'Roditis-Moschofilero', 'St. Vincent', 'Chancellor', 'Premsal',
       'Jampal', 'Tokay Pinot Gris', 'Colorino', 'Picapoll', 'Blauburger',
       'Tinta Madeira', 'Centesimino', 'Grenache Gris', 'Trajadura',
       'Merlot-Petite Verdot', 'Ramisco', 'Catalanesca',
       'Garnacha-Cabernet', 'Garnacha-Cariñena', 'Gamza',
       'Cabernet Franc-Lemberger', 'Chardonnay-Albariño',
       'Shiraz-Mourvèdre', 'Mavrokalavryta', 'Favorita', 'Babosa Negro',
       'Tintilia ', 'Dafni', 'Petit Courbu', 'Kotsifali', 'Parraleta',
       'Moscato di Noto', 'Roscetto', 'Torontel', 'Otskhanuri Sapere',
       'Viognier-Valdiguié', 'Trollinger', 'Tsapournakos', 'Francisa',
       'Kuntra', 'Pignolo', 'Caprettone', 'Ondenc', 'Athiri',
       'Bobal-Cabernet Sauvignon'], dtype=object)

In [67]:
m7 = []
for i in m3:
    m4 = m[m['variety']==i]['price'].max()
    m7.append(m4)

In [54]:
m1 = m[m['price']==m['price'].max()][['price','variety']]

In [56]:
m2 = m1.append(m[m['price']==m['price'].min()][['price','variety']])

In [50]:
m1['price'].reset_index().max()

C:\Users\Nikhil\AppData\Local\Temp/ipykernel_36936/4070709943.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m1['price'].reset_index().max()

price    3300.0
dtype: float64

In [58]:
price_extremes = m2.set_index('variety')

                           price
variety
Bordeaux-style Red Blend  3300.0
Syrah                        4.0
White Blend                  4.0
Malbec-Syrah                 4.0
Chardonnay                   4.0
Chardonnay                   4.0
Cabernet Sauvignon           4.0
Merlot                       4.0
Merlot                       4.0
Tempranillo                  4.0
White Blend                  4.0
Pinot Grigio                 4.0

In [55]:
m6 = []
for i in m3:
    m5 = m[m['variety']==i]['price'].min()
    m6.append(m5)

In [30]:
reviews['variety']

0            White Blend
1         Portuguese Red
2             Pinot Gris
3               Riesling
4             Pinot Noir
               ...
129966          Riesling
129967        Pinot Noir
129968    Gewürztraminer
129969        Pinot Gris
129970    Gewürztraminer
Name: variety, Length: 129971, dtype: object

In [56]:
m6

[4.0,
 5.0,
 9.0,
 5.0,
 5.0,
 6.0,
 13.0,
 6.0,
 4.0,
 10.0,
 4.0,
 5.0,
 7.0,
 9.0,
 5.0,
 4.0,
 8.0,
 6.0,
 9.0,
 5.0,
 10.0,
 5.0,
 9.0,
 7.0,
 12.0,
 14.0,
 6.0,
 8.0,
 6.0,
 10.0,
 7.0,
 7.0,
 6.0,
 8.0,
 7.0,
 6.0,
 10.0,
 11.0,
 5.0,
 5.0,
 7.0,
 8.0,
 9.0,
 8.0,
 8.0,
 17.0,
 4.0,
 12.0,
 5.0,
 8.0,
 10.0,
 10.0,
 7.0,
 5.0,
 10.0,
 11.0,
 10.0,
 12.0,
 7.0,
 13.0,
 8.0,
 6.0,
 9.0,
 14.0,
 10.0,
 9.0,
 5.0,
 7.0,
 5.0,
 6.0,
 9.0,
 14.0,
 9.0,
 10.0,
 12.0,
 17.0,
 21.0,
 15.0,
 9.0,
 10.0,
 10.0,
 5.0,
 7.0,
 16.0,
 12.0,
 10.0,
 4.0,
 4.0,
 15.0,
 10.0,
 8.0,
 9.0,
 8.0,
 9.0,
 13.0,
 10.0,
 9.0,
 12.0,
 12.0,
 18.0,
 6.0,
 9.0,
 11.0,
 5.0,
 7.0,
 10.0,
 9.0,
 19.0,
 10.0,
 9.0,
 10.0,
 11.0,
 8.0,
 8.0,
 18.0,
 10.0,
 12.0,
 8.0,
 19.0,
 12.0,
 10.0,
 40.0,
 14.0,
 14.0,
 12.0,
 10.0,
 18.0,
 14.0,
 12.0,
 7.0,
 8.0,
 12.0,
 13.0,
 9.0,
 9.0,
 12.0,
 9.0,
 10.0,
 12.0,
 12.0,
 6.0,
 14.0,
 15.0,
 12.0,
 10.0,
 20.0,
 10.0,
 11.0,
 24.0,
 12.0,
 20.0,
 10.0,
 13.0,
 10.0,
 19.0,
 12.0,
 5.0,
 9.0,
 13.0,
 9.0,
 7.0,
 17.0,
 30.0,
 14.0,
 14.0,
 12.0,
 7.0,
 12.0,
 16.0,
 9.0,
 8.0,
 9.0,
 7.0,
 9.0,
 9.0,
 15.0,
 17.0,
 9.0,
 9.0,
 15.0,
 13.0,
 9.0,
 14.0,
 9.0,
 14.0,
 14.0,
 10.0,
 16.0,
 12.0,
 15.0,
 12.0,
 7.0,
 18.0,
 35.0,
 13.0,
 10.0,
 14.0,
 14.0,
 20.0,
 9.0,
 15.0,
 25.0,
 10.0,
 20.0,
 9.0,
 12.0,
 11.0,
 49.0,
 30.0,
 11.0,
 11.0,
 10.0,
 9.0,
 10.0,
 6.0,
 15.0,
 8.0,
 9.0,
 8.0,
 8.0,
 8.0,
 7.0,
 10.0,
 22.0,
 24.0,
 9.0,
 20.0,
 11.0,
 19.0,
 15.0,
 12.0,
 25.0,
 16.0,
 14.0,
 16.0,
 10.0,
 11.0,
 20.0,
 40.0,
 14.0,
 9.0,
 12.0,
 7.0,
 10.0,
 15.0,
 19.0,
 14.0,
 14.0,
 7.0,
 18.0,
 18.0,
 12.0,
 19.0,
 18.0,
 9.0,
 15.0,
 11.0,
 12.0,
 13.0,
 6.0,
 8.0,
 12.0,
 10.0,
 10.0,
 10.0,
 13.0,
 14.0,
 22.0,
 20.0,
 35.0,
 8.0,
 16.0,
 26.0,
 13.0,
 25.0,
 21.0,
 15.0,
 11.0,
 13.0,
 13.0,
 18.0,
 10.0,
 4.0,
 15.0,
 7.0,
 12.0,
 12.0,
 15.0,
 13.0,
 11.0,
 13.0,
 10.0,
 12.0,
 7.0,
 13.0,
 30.0,
 9.0,
 10.0,
 10.0,
 16.0,
 10.0,
 8.0,
 16.0,
 42.0,
 8.0,
 9.0,
 20.0,
 13.0,
 13.0,
 8.0,
 50.0,
 6.0,
 22.0,
 12.0,
 10.0,
 9.0,
 14.0,
 7.0,
 20.0,
 10.0,
 11.0,
 14.0,
 15.0,
 15.0,
 18.0,
 11.0,
 20.0,
 12.0,
 11.0,
 18.0,
 15.0,
 11.0,
 9.0,
 10.0,
 13.0,
 13.0,
 12.0,
 7.0,
 20.0,
 18.0,
 12.0,
 20.0,
 21.0,
 25.0,
 19.0,
 26.0,
 12.0,
 10.0,
 12.0,
 20.0,
 15.0,
 19.0,
 9.0,
 12.0,
 7.0,
 11.0,
 24.0,
 nan,
 22.0,
 13.0,
 32.0,
 7.0,
 18.0,
 36.0,
 14.0,
 20.0,
 10.0,
 15.0,
 18.0,
 18.0,
 20.0,
 20.0,
 22.0,
 10.0,
 20.0,
 30.0,
 15.0,
 12.0,
 15.0,
 19.0,
 12.0,
 13.0,
 16.0,
 11.0,
 8.0,
 12.0,
 10.0,
 18.0,
 23.0,
 14.0,
 12.0,
 18.0,
 19.0,
 10.0,
 25.0,
 25.0,
 8.0,
 21.0,
 12.0,
 45.0,
 13.0,
 9.0,
 16.0,
 15.0,
 35.0,
 18.0,
 12.0,
 36.0,
 15.0,
 16.0,
 12.0,
 16.0,
 27.0,
 11.0,
 30.0,
 23.0,
 15.0,
 45.0,
 8.0,
 15.0,
 20.0,
 11.0,
 25.0,
 23.0,
 15.0,
 19.0,
 15.0,
 23.0,
 12.0,
 16.0,
 30.0,
 9.0,
 17.0,
 8.0,
 22.0,
 10.0,
 13.0,
 17.0,
 35.0,
 25.0,
 15.0,
 14.0,
 15.0,
 27.0,
 23.0,
 7.0,
 13.0,
 18.0,
 25.0,
 12.0,
 20.0,
 8.0,
 15.0,
 15.0,
 11.0,
 28.0,
 27.0,
 12.0,
 10.0,
 21.0,
 nan,
 10.0,
 15.0,
 150.0,
 14.0,
 15.0,
 45.0,
 45.0,
 11.0,
 11.0,
 17.0,
 12.0,
 16.0,
 9.0,
 12.0,
 26.0,
 20.0,
 7.0,
 9.0,
 12.0,
 16.0,
 16.0,
 20.0,
 18.0,
 22.0,
 24.0,
 236.0,
 34.0,
 14.0,
 15.0,
 53.0,
 20.0,
 14.0,
 34.0,
 12.0,
 25.0,
 15.0,
 14.0,
 17.0,
 20.0,
 19.0,
 17.0,
 20.0,
 9.0,
 12.0,
 10.0,
 8.0,
 38.0,
 24.0,
 18.0,
 25.0,
 15.0,
 19.0,
 9.0,
 nan,
 18.0,
 26.0,
 nan,
 14.0,
 60.0,
 8.0,
 31.0,
 19.0,
 18.0,
 23.0,
 19.0,
 13.0,
 13.0,
 16.0,
 13.0,
 11.0,
 16.0,
 22.0,
 11.0,
 25.0,
 12.0,
 8.0,
 16.0,
 15.0,
 17.0,
 15.0,
 12.0,
 22.0,
 5.0,
 40.0,
 43.0,
 26.0,
 10.0,
 27.0,
 9.0,
 18.0,
 24.0,
 26.0,
 14.0,
 19.0,
 30.0,
 14.0,
 22.0,
 40.0,
 15.0,
 15.0,
 20.0,
 10.0,
 20.0,
 25.0,
 10.0,
 13.0,
 45.0,
 23.0,
 19.0,
 17.0,
 17.0,
 11.0,
 24.0,
 8.0,
 50.0,
 30.0,
 24.0,
 29.0,
 17.0,
 18.0,
 16.0,
 16.0,
 10.0,
 21.0,
 25.0,
 nan,
 9.0,
 24.0,
 19.0,
 25.0,
 27.0,
 18.0,
 18.0,
 18.0,
 16.0,
 38.0,
 18.0,
 20.0,
 25.0,
 16.0,
 18.0,
 16.0,
 28.0,
 16.0,
 25.0,
 16.0,
 25.0,
 35.0,
 9.0,
 17.0,
 19.0,
 15.0,
 nan,
 8.0,
 20.0,
 nan,
 18.0,
 40.0,
 40.0,
 10.0,
 14.0,
 10.0,
 25.0,
 10.0,
 11.0,
 12.0,
 11.0,
 25.0,
 29.0,
 9.0,
 11.0,
 19.0,
 35.0,
 45.0,
 13.0,
 30.0,
 112.0,
 30.0,
 20.0,
 20.0,
 nan,
 30.0,
 7.0,
 16.0,
 18.0,
 22.0,
 13.0,
 30.0,
 16.0,
 8.0,
 20.0,
 16.0,
 23.0,
 nan,
 nan,
 25.0,
 35.0,
 12.0,
 15.0,
 13.0,
 50.0,
 13.0,
 20.0,
 11.0,
 24.0,
 12.0,
 15.0,
 25.0,
 30.0,
 40.0,
 21.0,
 17.0,
 45.0,
 36.0,
 22.0,
 7.0,
 20.0,
 495.0,
 19.0,
 13.0,
 57.0,
 11.0,
 20.0,
 28.0,
 15.0,
 15.0,
 40.0,
 45.0,
 25.0,
 20.0,
 19.0,
 13.0,
 14.0,
 40.0,
 nan,
 40.0,
 30.0,
 17.0,
 21.0,
 27.0,
 160.0,
 15.0,
 70.0,
 19.0,
 15.0,
 18.0,
 9.0]

In [62]:
z1 = []
for i in m3:
    z1.append(i)

In [71]:
price_extremes = pd.DataFrame(data={'max_price':m7,'min_price':m6},index=z1)
price_extremes

                          max_price  min_price
White Blend                   375.0        4.0
Portuguese Red                450.0        5.0
Pinot Gris                    135.0        9.0
Riesling                      775.0        5.0
Pinot Noir                   2500.0        5.0
...                             ...        ...
Pignolo                        70.0       70.0
Caprettone                     19.0       19.0
Ondenc                         15.0       15.0
Athiri                         18.0       18.0
Bobal-Cabernet Sauvignon        9.0        9.0

[708 rows x 2 columns]

In [72]:
sorted_varieties_max = price_extremes['max_price'].sort_values(ascending=False)

Bordeaux-style Red Blend          3300.0
Pinot Noir                        2500.0
Chardonnay                        2013.0
Grüner Veltliner                  1100.0
Bordeaux-style White Blend        1000.0
                                   ...
Sauvignon Blanc-Sauvignon Gris       NaN
NaN                                  NaN
Vital                                NaN
Espadeiro                            NaN
Roscetto                             NaN
Name: max_price, Length: 708, dtype: float64

In [73]:
sorted_varieties_min = price_extremes['min_price'].sort_values(ascending=False)
sorted_varieties_min

Ramisco                           495.0
Terrantez                         236.0
Francisa                          160.0
Rosenmuskateller                  150.0
Tinta Negra Mole                  112.0
                                  ...
Sauvignon Blanc-Sauvignon Gris      NaN
NaN                                 NaN
Vital                               NaN
Espadeiro                           NaN
Roscetto                            NaN
Name: min_price, Length: 708, dtype: float64

In [83]:
reviewer_mean_ratings = reviews[['taster_name','points']].set_index('taster_name')

                    points
taster_name
Kerin O’Keefe           87
Roger Voss              87
Paul Gregutt            87
Alexander Peartree      87
Paul Gregutt            87
...                    ...
Anna Lee C. Iijima      90
Paul Gregutt            90
Roger Voss              90
Roger Voss              90
Roger Voss              90

[129971 rows x 1 columns]

In [87]:
t1 = reviews['taster_name'].unique()

In [94]:
t2 = []
for i in t1:
    t2.append(i)

In [97]:
t4 = []
for i in t1:
    t3 = reviews[reviews['taster_name']==i]['points'].mean()
    t4.append(t3)

In [98]:
t4

[88.86794729027469,
 88.70800344908677,
 89.08256399496433,
 85.855421686747,
 86.90749306197965,
 88.41562853907135,
 89.21337946943483,
 90.00868603916614,
 nan,
 88.75573902537253,
 88.62628680871438,
 88.53623469982514,
 90.56255088195387,
 87.73950953678474,
 89.1011673151751,
 88.31975560081466,
 86.60921658986175,
 86.39568345323741,
 86.88888888888889,
 87.83333333333333]

In [105]:
reviewer_mean_ratings = pd.Series(data=t4,index=t2)

In [106]:
reviewer_mean_ratings

Kerin O’Keefe         88.867947
Roger Voss            88.708003
Paul Gregutt          89.082564
Alexander Peartree    85.855422
Michael Schachner     86.907493
Anna Lee C. Iijima    88.415629
Virginie Boone        89.213379
Matt Kettmann         90.008686
NaN                         NaN
Sean P. Sullivan      88.755739
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Anne Krebiehl MW      90.562551
Lauren Buzzeo         87.739510
Mike DeSimone         89.101167
Jeff Jenssen          88.319756
Susan Kostrzewa       86.609217
Carrie Dykes          86.395683
Fiona Adams           86.888889
Christina Pickard     87.833333
dtype: float64

In [114]:
v = reviews.groupby('country')['variety'].value_counts()

In [119]:
country_variety_counts = v.sort_values(ascending=False)

country  variety
US       Pinot Noir                           9885
         Cabernet Sauvignon                   7315
         Chardonnay                           6801
France   Bordeaux-style Red Blend             4725
Italy    Red Blend                            3624
                                              ...
Spain    Cabernet Sauvignon-Shiraz               1
         Cabernet Sauvignon-Cabernet Franc       1
         Cabernet Franc                          1
         Bobal-Cabernet Sauvignon                1
Uruguay  White Blend                             1
Name: variety, Length: 1612, dtype: int64

# Data Types and Missing values

In [120]:
dtype = reviews['points'].dtypes

dtype('int64')

In [121]:
point_strings = reviews['points'].astype('O')

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

In [122]:
n_missing_prices = reviews['price'].isna().sum()

8996

In [124]:
reviews['region_1'].value_counts()

Napa Valley                4480
Columbia Valley (WA)       4124
Russian River Valley       3091
California                 2629
Paso Robles                2350
                           ...
Lamezia                       1
Trentino Superiore            1
Grave del Friuli              1
Vin Santo di Carmignano       1
Paestum                       1
Name: region_1, Length: 1229, dtype: int64

In [126]:
h = reviews['region_1'].fillna('Unknown')

In [128]:
reviews_per_region = h.value_counts()

Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: region_1, Length: 1230, dtype: int64

# Renaming and combining

In [129]:
renamed = reviews.rename(columns={'region_1':'region','region_2':'locale'})

,Unnamed: 0,country,description,designation,points,price,province,region,locale,taster_name,taster_twitter_handle,title,variety,winery,max_price
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,9.0
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,9.0
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,9.0
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,9.0
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),9.0
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,9.0
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,9.0
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,9.0
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,9.0

In [131]:
reindexed = reviews.set_index('winery')

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,max_price
winery,,,,,,,,,,,,,,
Nicosia,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,9.0
Quinta dos Avidagos,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,9.0
Rainstorm,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,9.0
St. Julian,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,9.0
Sweet Cheeks,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Dr. H. Thanisch (Erben Müller-Burggraef),129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,9.0
Citation,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,9.0
Domaine Gresser,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,9.0
Domaine Marcel Deiss,129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,9.0
Domaine Schoffit,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,9.0

In [5]:
pm = pd.read_csv('C:/Users/Nikhil/AppData/Local/Temp/Temp1_openpowerlifting.csv.zip/openpowerlifting.csv')

In [9]:
pm

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,NaN,95.25,NaN,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,NaN,31.75,NaN,90.72,122.47,1,130.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386409,8481,William Barabas,M,Multi-ply,NaN,Elite,113.58,125,NaN,NaN,NaN,NaN,NaN,347.50,347.50,2,202.60
386410,8481,Justin Zottl,M,Multi-ply,NaN,Elite,119.02,125,NaN,NaN,NaN,NaN,NaN,322.50,322.50,3,185.77
386411,8481,Jake Anderson,M,Multi-ply,NaN,Elite,120.29,125,NaN,NaN,NaN,NaN,NaN,367.50,367.50,1,211.17
386412,8481,Jeff Bumanglag,M,Multi-ply,NaN,Elite,126.73,140,NaN,NaN,NaN,NaN,NaN,320.00,320.00,3,181.85
386413,8481,Shane Hammock,M,Multi-ply,NaN,Elite,129.46,140,NaN,NaN,NaN,NaN,NaN,362.50,362.50,2,205.18

In [6]:
pc = pd.read_csv('C:/Users/Nikhil/Downloads/meets.csv')

In [10]:
pc

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,MO,Ozark,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,NC,Charlotte,Charlotte Europa Games
3,3,365strong/1604,365Strong,2016-06-11,USA,SC,Rock Hill,Carolina Cup Push Pull Challenge
4,4,365strong/1605,365Strong,2016-04-10,USA,SC,Rock Hill,Eastern USA Challenge
...,...,...,...,...,...,...,...,...
8477,8477,xpc/2015-finals,XPC,2015-03-06,USA,OH,Columbus,2015 XPC
8478,8478,xpc/2016-bench-freak-show,XPC,2016-03-04,USA,OH,Columbus,2016 XPC Bench Freak Show
8479,8479,xpc/2016-elite-finals,XPC,2016-03-04,USA,OH,Columbus,2016 XPC Elite Finals
8480,8480,xpc/2016-pro-finals,XPC,2016-03-05,USA,OH,Columbus,2016 XPC PRO Finals
8481,8481,xpc/2017-finals,XPC,2017-03-03,USA,OH,Columbus,2017 XPC Finals

In [18]:
com = pm.merge(pc,on='MeetID')

In [20]:
com

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,...,TotalKg,Place,Wilks,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,...,138.35,1,155.05,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,...,401.42,1,456.38,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,...,401.42,1,456.38,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,...,95.25,1,108.29,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,...,122.47,1,130.47,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386409,8481,William Barabas,M,Multi-ply,NaN,Elite,113.58,125,NaN,NaN,...,347.50,2,202.60,xpc/2017-finals,XPC,2017-03-03,USA,OH,Columbus,2017 XPC Finals
386410,8481,Justin Zottl,M,Multi-ply,NaN,Elite,119.02,125,NaN,NaN,...,322.50,3,185.77,xpc/2017-finals,XPC,2017-03-03,USA,OH,Columbus,2017 XPC Finals
386411,8481,Jake Anderson,M,Multi-ply,NaN,Elite,120.29,125,NaN,NaN,...,367.50,1,211.17,xpc/2017-finals,XPC,2017-03-03,USA,OH,Columbus,2017 XPC Finals
386412,8481,Jeff Bumanglag,M,Multi-ply,NaN,Elite,126.73,140,NaN,NaN,...,320.00,3,181.85,xpc/2017-finals,XPC,2017-03-03,USA,OH,Columbus,2017 XPC Finals
386413,8481,Shane Hammock,M,Multi-ply,NaN,Elite,129.46,140,NaN,NaN,...,362.50,2,205.18,xpc/2017-finals,XPC,2017-03-03,USA,OH,Columbus,2017 XPC Finals